<div class="modal fade" id="sign_in" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h2><%= t '.title' %></h2>
      </div>

      <div class="modal-body">
        <%= form_for(Client.new, as: :client, url: client_session_path, remote: true, :html => {class: 'form-horizontal', id: 'sign_in_client', :'data-type' => 'json'}) do |f| %>
            <div class="field form-group">
              <%= f.label :login, class: 'col-sm-4 control-label' %>
              <div class="col-sm-8">
                <%= f.text_field :login, autofocus: true, class: 'form-control' %>
              </div>
            </div>

            <div class="field form-group">
              <%= f.label :password, class: 'col-sm-4 control-label' %>
              <div class="col-sm-8">
                <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
              </div>
            </div>
            <div class="actions form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <%= f.submit t('.log_in'), class: 'btn btn-success' %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>