<div class="row" >
  <div class="col-xs-12 col-md-5">


  </div>
</div>

<%
   risk= {
		   1 => "КСУР",
		   3 => "КПУР",
		   4 => "КОУР"
   }

status = {
		1 => "Клиент может открывать новые позиции и увеличивать существующие",
		3 => "Клиент может заключать только сделки по сокращению открытых позиций",
		4 => "Маржин-колл"
}
%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Клиенты</h4>
    <span class="pull-right "><i class="glyphicon glyphicon-chevron-up"></i></span>
  </div>
  <div class="panel-body collapse in">
    <div class="row">
      <div class="col-xs-12 col-md-12 ">
			<% for i in [1,3,4] do %>
            <table id="portfolio" class="table">
              <thead>
                <tr>
                  <th>Имя клиента</th>
                  <th>Уровень риска</th>
                  <th>Стоимость портфеля</th>
                  <th>Скорректированная маржа</th>
                  <th>Начальная маржа</th>
                  <th>Минимальная маржа</th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td rowspan="2" style="text-align:center;vertical-align: middle"><strong>Клиент <%= i %></strong></td>
                <td rowspan="2" style="text-align:center;"><strong><%= risk[i] %></strong><a class="btn btn-default btn-block" style="margin:5px 0">Изменить</a></td>
                <% case i
                     when 1 %>
		                <td><strong>10244&nbsp;&nbsp;₽</strong></td>
		                <td><strong>8746&nbsp;&nbsp;₽</strong></td>
		                <td><strong>2630&nbsp;&nbsp;₽</strong></td>
		                <td style="text-align: center"><strong>1321&nbsp;&nbsp;₽</strong></td>
	                <% when 3 %>
	                    <td><strong>89781&nbsp;&nbsp;₽</strong></td>
	                    <td><strong>100512&nbsp;&nbsp;₽</strong></td>
	                    <td><strong>90121&nbsp;&nbsp;₽</strong></td>
	                    <td style="text-align: center"><strong>67003&nbsp;&nbsp;₽</strong></td>
	                <% when 4 %>
	                    <td><strong>244&nbsp;&nbsp;₽</strong></td>
	                    <td><strong>2054&nbsp;&nbsp;₽</strong></td>
	                    <td><strong>678&nbsp;&nbsp;₽</strong></td>
	                    <td style="text-align: center"><strong>298&nbsp;&nbsp;₽</strong></td>
                <% end %>
              </tr>
              <tr>
                <td colspan="4" style="vertical-align: middle" > <span class="label <%= label_class_for(i) %>"><%= status[i] %></span></td>
              </tr>
              </tbody>
            </table>
			<% end %>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default">
<div class="panel-heading">
  <h4 class="panel-title">Ценное имущество</h4>
  <span class="pull-right "><i class="glyphicon glyphicon-chevron-up"></i></span>
</div>
<div class="panel-body collapse in">
  <div class="row">
    <div class="col-xs-12 col-md-12 ">
        <ul id="tabs" class="nav nav-tabs " data-tabs="tabs">
          <% @asset_types.each  do |type| %>
              <li class=" <%= if type.id == 1 then 'active' end %>">
                <a href="#<%= type.id %>_item"  data-toggle="tab"><%= type.description %></a>
              </li>
          <% end %>
        </ul>
      <div class="tab-content">
        <% @asset_types.each do |type| %>
            <div class="tab-pane <%= if type.id == 1 then 'active' end %>" id="<%= type.id %>_item">
              <table class="table table-condensed">
                <% if @asset_discounts.key?(type.id)  %>
                    <tr>
                      <th>Инструмент</th>
                      <th>Описание</th>
                      <th>Уровень риска</th>
                      <th>Начальная ставка риска уменьшения стоимости</th>
                      <th>Начальная ставка риска увеличения стоимости</th>
                      <th>Минимальная ставка риска уменьшения стоимости</th>
                      <th>Минимальная ставка риска увеличения стоимости</th>
                      <th></th>
                    </tr>
                    <% @asset_discounts[type.id].each do |item| %>
                        <tr >
                          <td style="width:150px"><%= item.asset.name %></td>
                          <td style="width:150px"><%= item.asset.description %></td>
                          <td><%= item.client_type.name %></td>
                          <td><%= item.d0_plus %></td>
                          <td><%= item.d0_minus %></td>
                          <td><%= item.dx_plus %></td>
                          <td><%= item.dx_minus %></td>
                          <td style="width:250px">
                            <div class="btn-group " role="menu" >
                              <a class="btn btn-primary">Редактировать</a>
                              <a class="btn btn-danger">Удалить</a>
                            </div>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
                <tfoot>
                <tr>
                  <td colspan="8"><a class="btn btn-default btn-block">Добавить новое ценное имущество</a></td>
                </tr>
                </tfoot>
              </table>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<% if false %>
<div class="panel panel-default">
<div class="panel-heading">
  <h4 class="panel-title"><%= t '.orders' %></h4>
  <span class="pull-right panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
</div>
<div class="panel-body">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <% @order_types.each  do |type| %>
        <li class=" <%= if type.id == 1 then 'active' end %>">
          <a href="#<%= type.id %>_order" data-toggle="tab"><%= type.description %></a>
        </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @order_types.each do |type| %>
        <div class="tab-pane <%= if type.id == 1 then 'active' end %>" id="<%= type.id %>_order">
          <div class="table-responsive">
            <table id="orders"  class="table table-condensed">
              <% if @orders.key?(type.id)  %>
                  <tr >
                    <th><%= t 'activerecord.attributes.order.asset_id' %></th>
                    <th><%= t 'activerecord.attributes.order.payment_instrument_id' %></th>
                    <th><%= t 'activerecord.attributes.order.price' %></th>
                    <th><%= t 'activerecord.attributes.order.quantity' %></th>
                    <th><%= t 'activerecord.attributes.order.order_status_type_id' %></th>
                  <% if type.id == 1 %>
                    <th></th>
                  <% end %>
                  </tr>
                  <% @orders[type.id].each do |order| %>
                      <tr >
                        <td><%= order.asset.name %></td>
                        <td><%= order.payment_instrument.name %></td>
                        <td><%= order.price %></td>
                        <td><%= order.quantity %></td>
                        <td><%= order.order_status_type.description %></td>
                        <% if type.id == 1 %>
                            <td >
                              <div class="btn-group pull-right" role="menu" >
                                <%= link_to t('.full'), execute_full_order_path(order) , method: :patch, remote: true, class: 'btn btn-default' %>
                                <% if order.quantity > 1 %>
                                    <%= link_to t('.partial'), execute_partial_order_path(order) , method: :patch, remote: true, class: 'btn btn-default' %>
                                <% end %>
                                <%= link_to t('.edit'), edit_order_path(order) , remote: true, class: 'btn btn-primary' %>
                                <%= link_to t('.withdraw'),  withdraw_order_path(order), method: :patch , remote: true, class: 'btn btn-danger' %>
                              </div>
                            </td>
                        <% end %>
                      </tr>
                  <% end %>
              <% else  %>
                  <tr>
                    <td>
                      <h5 class="text-center"><i><%= t '.no_data' %></i></h5>
                    </td>
                  </tr>
              <% end %>
            </table>
          </div>
        </div>
    <% end %>
  </div>
  <% if current_client.status.in? [1, 2] %>
    <%= link_to t('.new'), new_order_path, remote: true, class: 'btn btn-default btn-block' %>
  <% end %>
</div>
</div>
<% end %>