<%= form_for(Client.new, url: client_session_path, remote: true, html: {class: 'form-horizontal', :'data-type' => 'json'}) do |f| %>
    <div class="field form-group">
      <%= f.label :login, class: 'col-xs-4 col-md-5 control-label' %>
      <div class="col-xs-5 col-md-3">
        <%= f.text_field :login, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :password, class: 'col-xs-4 col-md-5 control-label' %>
      <div class="col-xs-5 col-md-3">
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-xs-offset-4 col-xs-8 col-md-offset-5 col-md-8">
        <%= f.submit t('shared.sign_in.log_in'), class: 'btn btn-success' %>
      </div>
    </div>
<% end %>


