<%= form_for @item, html: {class: 'form-horizontal'}, remote: true do |f|   %>
    <div class="field form-group">
      <%= f.label :asset_id, class: 'col-xs-4 control-label' %>
      <div class="col-xs-7">
        <%= f.collection_select :asset_id, Asset.fx, :id, :name %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :quantity, class: 'col-xs-4 control-label' %>
      <div class="col-xs-7">
        <%= f.text_field  :quantity, class: 'form-control' %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-xs-offset-4 col-xs-7">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
<% end %>